
.test{color:rgb(71, 6, 97);
     text-align: center;
     font-size:  50px;
     text-decoration: underline;/*подчеркивание*/
     font-style: italic;
     font-weight:bold
}
.test2{
    color:rgb(123, 84, 187);
    text-align:center;
    font-size: 40px;
}
.test3{
    color:rgb(7, 41, 9);
    text-align: left;
    font-size: 30px;
}
.video{

    text-align:center
}
.test4{
    color:rgb(123, 84, 187);
    text-align:left;
    font-size: 30px;
}
.test5{
    color:rgb(6, 14, 41);
     text-align: left;
     font-size:  25px;
     font-style: italic;
     font-weight:bold
      }
.btn{
    width: 250px;
    height: 30px;
    background-color: green;
    color: black;
    font-size: 24px;
    text-align:center;
    font-weight: bold;
    border-radius: 10px;/*закругление*/
    padding-top: 5px;/*отступы внутренние*/
    margin: auto;} /* перенос кнопки в центр*/
body{
    background-image: url(images/fonsayta.jpg);
    background-repeat: no-repeat;
    background-color: rgb(151, 202, 202);
}
  
.img{
    text-align:center;
}

.shapkasayta{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: auto;
    padding-top: auto;
    color:black;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 1,5%;
}
.menu{
    background-color:rgb(189, 106, 214)
    text-align:center;
    border:2px solid;
    border-radius: 10px;
    text-align: center;
    float:left;
    margin-left:10px;
    width:25%;
    height:34px;
    
}
.menu:hover{
    background-color:rgb(160, 155, 168);
}


.zdorovye{
    background-color:rgb(189, 106, 214)
    text-align:center;
    border:2px solid;
    border-radius: 10px;
    text-align: center;
    float:left;
    margin-left:10px;
    width:25%;
    height:34px;
}
.zdorovye:hover{
    background-color:rgb(160, 155, 168);
}
.forum{
    background-color:rgb(189, 106, 214)
    text-align:center;
    border:2px solid;
    border-radius: 10px;
    text-align: center;
    float:left;
    margin-left: 10px;
    width: 25%;
    height: 34px;
}
.forum:hover{
    background-color:rgb(160, 155, 168);
    
}
.contakti{
    background-color:rgb(189, 106, 214)
    text-align: center;
    border:2px solid;
    border-radius: 10px;
    text-align: center;
    float:left;
    margin-left: 10px;
    width: 25%;
    height: 34px;

}
.contakti:hover{
    background-color:rgb(160, 155, 168);
}
.boss{
    display: flex;
    height:55% ;

}
.reklamaleft-active{
    flex-grow:1;
    float:left;
}
.content-active{
    flex-grow:2;
    float:center
}
.reklamawright-active{
    flex-grow:3;
    float:wright;
}
.reklamabadov {
             width: 30%;
             height: 100%;
             background-color:rgb(189, 106, 214)
             /*background-position: 20;*/
             display: flex;
             flex-direction: column;
             height: 100%;
              }
.podval{
        display: flex;
        flex-direction:column;
        height: 100%;
      }
.podval2{
    text-align: center;
    font-size:  50px;
    font-style: italic;
    font-weight:bold
    
}


